<div class="d-flex">
  <div>
    <app-icon-card
      [title]="'Warnings'"
      [items]="(warningsService.warningsSubject$ | async) || []"
      [iconSize]="20"
    />
    <app-icon-card
      [title]="'New messages'"
      [items]="(messagesService.messagesSubject$ | async) || []"
      [collapsable]="true"
    />
    <app-icon-card
      [title]="'Pinned messages'"
      [items]="(pinnedMessagesService.pinnedMessagesSubject$ | async) || []"
      [collapsable]="true"
    />
  </div>
  <div>
    <app-roster-card
      [title]="'Roster'"
      [items]="(rosterService.changeRequestsReceived$ | async) || []"
    ></app-roster-card>
    <app-table-card
      [title]="'Change requests | RECEIVED'"
      [items]="
        (changeRequestsReceivedService.changeRequestsReceived$ | async) || []
      "
      [tableHeaders]="tableHeadersChangeRequestsReceived"
    ></app-table-card>
    <app-table-card
      [title]="'Change requests | SENT'"
      [items]="
        (changeRequestsSentService.changeRequestsReceived$ | async) || []
      "
      [tableHeaders]="tableHeadersChangeRequestsSent"
    ></app-table-card>
    <app-table-card
      [title]="'Hours'"
      [items]="(hoursService.changeRequestsReceived$ | async) || []"
      [tableHeaders]="tableHeadersHours"
    ></app-table-card>
  </div>
</div>
