@if(isMobile) {
<div class="card-header">
  <h2>{{ title }}</h2>
  @if(collapsable) {
  <mat-icon class="arrow-icon" (click)="onToggleCardCollapse()">{{
    collapsed ? "keyboard_arrow_up" : "keyboard_arrow_down"
  }}</mat-icon>
  }
</div>
@if (!collapsable || (collapsable && !collapsed)) {
<mat-card class="card">
  <mat-card-content class="card-content">
    @if(!items.length) {
    <b>No messages.</b>
    } @else { @for (item of limitedItems; track item) {
    <div class="item">
      <!-- Main icon based on item status -->
      <div class="icon-card-icons">
        @if(item.itemIcon.src){<img
          [src]="item.itemIcon.src"
          alt="Mail Status Icon"
          class="mail-icon"
        />} @else {
        <mat-icon
          class="mail-icon"
          [ngClass]="{
            'success-icon': item.itemIcon.status === 'success',
            'info-icon': item.itemIcon.status === 'info',
            'error-icon': item.itemIcon.status === 'error'
          }"
          [ngStyle]="{ 'font-size': iconSize + 'px' }"
        >
          {{ item.itemIcon.type }} </mat-icon
        >}@if(item.buttons.length) {
        <div class="buttons-container">
          <button class="card-item-button" mat-button>
            <img
              [src]="item.buttons[1].src"
              alt="Image"
              (click)="onPinClicked(item, item.buttons[1].pin)"
            />
          </button>
        </div>
        <div class="spacer"></div>
        }
      </div>

      @if(item.dates.length > 1){
      <div>
        <div class="dates-container-messages">
          @for (date of item.dates; track date) {
          <div class="messages-content">
            <mat-icon
              [ngClass]="{ 'gray-text': title === 'Pinned messages' }"
              class="date-icon"
              >{{ date.icon }}</mat-icon
            >
            <span
              [ngClass]="{ 'gray-text': title === 'Pinned messages' }"
              class="date-text"
              >{{ date.date }}</span
            >
          </div>
          }
        </div>

        <div class="content-wrapper">
          <div class="item-text" [ngStyle]="{ 'max-height': iconSize + 'px' }">
            <b
              [ngClass]="{ 'gray-text': title === 'Pinned messages' }"
              class="sender"
              >{{ item.text.title }}</b
            >

            <span
              [ngClass]="{ 'gray-text': title === 'Pinned messages' }"
              class="message-text"
              >{{ item.text.content }}</span
            >
          </div>
          <!-- Optional buttons -->
        </div>
      </div>
      } @else {
      <div class="dates-container-warning">
        @for (date of item.dates; track date) {
        <span class="date-text-warning">{{ date.date }}</span>
        }
      </div>
      <div class="content-wrapper-warnings">
        <div
          class="item-text-warning"
          [ngStyle]="{ 'max-height': iconSize + 'px' }"
        >
          @if (item.text.title) {
          <b class="sender">{{ item.text.title }} |</b>
          }
          <span class="message-text-warning">{{ item.text.content }}</span>
        </div>
        <!-- Optional buttons -->
      </div>
      }
    </div>
    } }
  </mat-card-content>
</mat-card>
}} @else {

<div class="card-header">
  <h2>{{ title }}</h2>
  @if(collapsable) {
  <mat-icon class="arrow-icon" (click)="onToggleCardCollapse()">{{
    collapsed ? "keyboard_arrow_up" : "keyboard_arrow_down"
  }}</mat-icon>
  }
</div>
@if (!collapsable || (collapsable && !collapsed)) {
<mat-card class="card">
  <mat-card-content class="card-content">
    @if(!items.length) {
    <b>No messages.</b>
    } @else { @for (item of items; track item) {
    <div class="item">
      <!-- Main icon based on item status -->
      @if(item.itemIcon.src){<img
        [src]="item.itemIcon.src"
        alt="Mail Status Icon"
        class="mail-icon"
      />} @else {
      <mat-icon
        class="mail-icon"
        [ngClass]="{
          'success-icon': item.itemIcon.status === 'success',
          'info-icon': item.itemIcon.status === 'info',
          'error-icon': item.itemIcon.status === 'error'
        }"
        [ngStyle]="{ 'font-size': iconSize + 'px' }"
      >
        {{ item.itemIcon.type }} </mat-icon
      >}

      <!-- Dates with optional icons -->
      <div class="dates-container">
        @for (date of item.dates; track date) {
        <div>
          @if (date.icon) {
          <mat-icon
            [ngClass]="{ 'gray-text': title === 'Pinned messages' }"
            class="date-icon"
            >{{ date.icon }}</mat-icon
          >
          }
          <span
            [ngClass]="{ 'gray-text': title === 'Pinned messages' }"
            class="date-text"
            >{{ date.date }}</span
          >
        </div>
        }
      </div>

      <!-- Text content -->
      <div class="content-wrapper">
        <div class="item-text" [ngStyle]="{ 'max-height': iconSize + 'px' }">
          @if (item.text.title) {
          <b
            [ngClass]="{ 'gray-text': title === 'Pinned messages' }"
            class="sender"
            >{{ item.text.title }} |</b
          >
          }
          <span
            [ngClass]="{ 'gray-text': title === 'Pinned messages' }"
            class="message-text"
            >{{ item.text.content }}</span
          >
        </div>
        <!-- Optional buttons -->
        @if(item.buttons.length) {
        <div class="spacer"></div>
        <div class="buttons-container">
          @for (button of item.buttons || []; track button) {
          <button class="card-item-button" mat-button>
            <img
              [src]="button.src"
              alt="Image"
              (click)="onPinClicked(item, button.pin)"
            />
          </button>
          }
        </div>
        }
      </div>
    </div>
    } }
  </mat-card-content>
</mat-card>
}}
