.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.corner-shape {
  position: fixed;
  top: 60px;
  left: 80px;
  width: 45px;
  height: 45px;
  background: radial-gradient(
    circle at bottom right,
    transparent 45px,
    var(--primary-color) 36px
  );
  z-index: 10;
}
