<app-navbar
  (toggleUserMenuDropdown)="onUserMenuToggle()"
  (toggleNotificationDropdown)="onNotificationSidenavToggle()"
  (toggleProfileDropdown)="onProfileSidenavToggle()"
></app-navbar>
<div class="main">
  <mat-sidenav-container>
    <mat-sidenav
      position="start"
      mode="side"
      [opened]="!isMobile"
      [fixedInViewport]="true"
      [fixedTopGap]="60"
      ><app-sidebar
    /></mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-sidenav
      position="end"
      mode="over"
      [opened]="profileSidenavOpened || notificationSidenavOpened"
      [fixedInViewport]="true"
      [fixedTopGap]="60"
    >
      @if(profileSidenavOpened){
      <app-profile-side-menu />} @if(notificationSidenavOpened){
      <app-notification-side-menu />}</mat-sidenav
    >
  </mat-sidenav-container>
</div>
@if (isMobile) {
<div class="footer-container">
  <app-footer></app-footer>
</div>
}
