<div class="card-header">
  <h2>{{ title }}</h2>
  @if(collapsable) {
  <mat-icon class="arrow-icon" (click)="onToggleCardCollapse()">{{
    collapsed ? "keyboard_arrow_up" : "keyboard_arrow_down"
  }}</mat-icon>
  }
</div>
@if (!collapsable || (collapsable && !collapsed)){
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-table">
  <ng-container [matColumnDef]="tableHeaders.header1">
    <th mat-header-cell *matHeaderCellDef>{{ tableHeaders.header1 }}</th>
    <td mat-cell *matCellDef="let element">
      {{ element.roster ?? element.licenseUnit }}
    </td>
  </ng-container>

  <ng-container [matColumnDef]="tableHeaders.header2">
    <th mat-header-cell *matHeaderCellDef>{{ tableHeaders.header2 }}</th>
    <td mat-cell *matCellDef="let element">
      {{ element.date ?? element.role }}
    </td>
  </ng-container>

  <ng-container [matColumnDef]="tableHeaders.header3">
    <th mat-header-cell *matHeaderCellDef>{{ tableHeaders.header3 }}</th>
    <td mat-cell *matCellDef="let element">
      @if(element.shiftSwitch) {
      <div class="shift-container">
        <div class="text-wrapper">
          {{ element.shiftSwitch[0] }}
        </div>
        <div class="icon-wrapper">
          <mat-icon class="shift-arrow-icon">arrow_right_alt</mat-icon>
        </div>
        <div class="text-wrapper">
          {{ element.shiftSwitch[1] }}
        </div>
      </div>

      } @else {
      <span
        [ngClass]="{
          'text-danger': element.lastWork.accent === 'danger',
          'text-warning': element.lastWork.accent === 'warning'
        }"
      >
        {{ element.lastWork.data }}</span
      >
      }
    </td>
  </ng-container>

  <ng-container [matColumnDef]="tableHeaders.header4">
    <th mat-header-cell *matHeaderCellDef>{{ tableHeaders.header4 }}</th>
    <td mat-cell *matCellDef="let element">
      {{
        getSenderDisplayName(element.sender) ||
          getSenderDisplayName(element.sentTo) ||
          element.period
      }}
    </td>
  </ng-container>

  <ng-container [matColumnDef]="tableHeaders.header5">
    <th mat-header-cell *matHeaderCellDef>{{ tableHeaders.header5 }}</th>
    <td mat-cell *matCellDef="let element">
      @if (element.status?.length) { @for(statusIcon of element.status; track
      statusIcon) {
      <mat-icon
        class="status-icon"
        [ngClass]="{
          success: statusIcon.status === 'success',
          info: statusIcon.status === 'info',
          error: statusIcon.status === 'error'
        }"
        >{{ statusIcon.icon }}</mat-icon
      >
      } } @else {
      <span
        [ngClass]="{
          'text-danger': element.hours.accent
        }"
      >
        {{ element.hours.data }}
      </span>
      }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
}
