button {
  color: var(--text-color-light);
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  padding: var(--padding-button);
  margin: 0;
  cursor: pointer;

  &:hover {
    color: var(--hover-background);
    background: transparent;
  }

  mat-icon {
    color: inherit;
    font-size: var(--font-size-icon);
  }
}
