<div class="card-header">
  <h2>{{ title }}</h2>
  <mat-icon class="arrow-icon" (click)="onToggleCardCollapse()">{{
    collapsed ? "keyboard_arrow_up" : "keyboard_arrow_down"
  }}</mat-icon>
</div>
@if (!collapsed) {
<mat-card class="card">
  <mat-card-content class="card-content">
    @if(!items.length) {
    <b>No messages.</b>
    } @else { @for (item of isMobile ? limitedItems : items; track item) {
    <div class="item">
      @if(isMobile) {
      <div class="icon-card-icons">
        @if(item.itemIcon.src){<img
          [src]="item.itemIcon.src"
          alt="Mail Status Icon"
          class="mail-icon"
        />} @else {
        <mat-icon
          class="mail-icon"
          [ngClass]="{
            'success-icon': item.itemIcon.status === 'success',
            'info-icon': item.itemIcon.status === 'info',
            'error-icon': item.itemIcon.status === 'error'
          }"
        >
          {{ item.itemIcon.type }} </mat-icon
        >}
        <div class="buttons-container">
          <button class="card-item-button" mat-button>
            <img
              [src]="item.buttons[1].src"
              alt="Image"
              (click)="onPinClicked(item, item.buttons[1].pin)"
            />
          </button>
        </div>
        <div class="spacer"></div>
      </div>
      <div>
        <div class="dates-container-messages">
          @for (date of item.dates; track date) {
          <div class="messages-content">
            <mat-icon
              [ngClass]="{ 'gray-text': title === 'Pinned messages' }"
              class="date-icon"
              >{{ date.icon }}</mat-icon
            >
            <span
              [ngClass]="{ 'gray-text': title === 'Pinned messages' }"
              class="date-text"
              >{{ date.date }}</span
            >
          </div>
          }
        </div>

        <div class="content-wrapper">
          <div class="item-text">
            <b
              [ngClass]="{ 'gray-text': title === 'Pinned messages' }"
              class="sender"
              >{{ item.text.title }}</b
            >
            <span
              [ngClass]="{ 'gray-text': title === 'Pinned messages' }"
              class="message-text"
              >{{ item.text.content }}</span
            >
          </div>
        </div>
      </div>
      } @else { @if(item.itemIcon.src){<img
        [src]="item.itemIcon.src"
        alt="Mail Status Icon"
        class="mail-icon"
      />} @else {
      <mat-icon
        class="mail-icon"
        [ngClass]="{
          'success-icon': item.itemIcon.status === 'success',
          'info-icon': item.itemIcon.status === 'info',
          'error-icon': item.itemIcon.status === 'error'
        }"
      >
        {{ item.itemIcon.type }} </mat-icon
      >}
      <div class="dates-container">
        @for (date of item.dates; track date) {
        <div>
          <mat-icon
            [ngClass]="{ 'gray-text': title === 'Pinned messages' }"
            class="date-icon"
            >{{ date.icon }}</mat-icon
          >
          <span
            [ngClass]="{ 'gray-text': title === 'Pinned messages' }"
            class="date-text"
            >{{ date.date }}</span
          >
        </div>
        }
      </div>
      <div class="content-wrapper">
        <div class="item-text">
          <b
            [ngClass]="{ 'gray-text': title === 'Pinned messages' }"
            class="sender"
            >{{ item.text.title }} |</b
          >
          <span
            [ngClass]="{ 'gray-text': title === 'Pinned messages' }"
            class="message-text"
            >{{ item.text.content }}</span
          >
        </div>
        <div class="spacer"></div>
        <div class="buttons-container">
          @for (button of item.buttons || []; track button) {
          <button class="card-item-button" mat-button>
            <img
              [src]="button.src"
              alt="Image"
              (click)="onPinClicked(item, button.pin)"
            />
          </button>
          }
        </div>
      </div>
      }
    </div>
    } }
  </mat-card-content>
</mat-card>
}
